
.contenedor-formulario{

   
   display: flex;
   align-items: center; 
   justify-content: center;
   background-color: #ffffff;
   width: 800px;
   height: 300px;
   margin: 30px auto;
   background-color: aliceblue;
   box-shadow: 0 3px 13px 5px rgb(132, 132, 173);

}
.clientes{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 800px;
    height: auto;
    margin: 20px auto;
    background-color: aliceblue;
    box-shadow: 0 3px 13px 5px rgb(132, 132, 173);

}

.reserva{
   display: flex;
   align-items: center; 
   justify-content: center;
   margin:30px;
 }
.inp{
   display: flex;
   flex-direction: column;
   margin:5px;

}
.bot{
   margin:15px;
   color: blue;
}
.eliminar{
   color: red;
}
.actualizar{
   color: blue;
}